@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @font-face {
  font-family: "Amazon Ember";

  src: url("./assets/fonts/AmazonEmber_Rg.ttf") format("truetype"),
    url("./assets/fonts/Amazon-Ember-Medium.ttf") format("truetype"),
    url("./assets/fonts/AmazonEmber_RgIt.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Amazon Ember';
  src: url('./assets/fonts/AmazonEmber_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./assets/fonts/AmazonEmber_RgIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./assets/fonts/AmazonEmber_Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./assets/fonts/Amazon-Ember-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Amazon Ember", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
}
